<div class="row  justify-content-center mt-3">
  <h1 class='col-8'><%= t('.header') %></h1>

  <p class='col-8'>
    <%= link_to t('.new_test'), new_admin_test_path %>
  </p>

  <%= render 'shared/errors', resource: @test %>

  <table class="table admin table-hover table-light table-bordered table-striped col-8 sortable-table">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="sort-by-title pointer">
          <%= t('.title') %>
          <%= octicon 'arrow-up', class: 'text-success hide' %>
          <%= octicon 'arrow-down', class: 'text-success hide' %>
        </th>
        <th scope="col"><%= t('.level') %></th>
        <th scope="col"><%= t('.questions') %></th>
        <th scope="col"><%= t('.timer_time') %></th>
        <th scope="col" colspan="4"><%= t('.actions') %></th>
      </tr>
    </thead>

    <%= render @tests %>
  </table>
</div>
